<section class="container editar-alunos ff-inter">
  <header class="header">
    <h2>Adicione um <br>aluno novo:</h2>
  </header>
  <form>
    <div class="form-group">
      <label for="aluno">Email:</label>
      <textarea
        id="aluno"
        name="aluno"
        class="input"
        placeholder="Digite o email do aluno"
        [(ngModel)]="aluno.conteudo"
      ></textarea>
    </div>

    <div class="form-group">
      <label for="autoria">Nome:</label>
      <input
        type="text"
        id="autoria"
        name="autoria"
        class="input"
        placeholder="Digite o nome do aluno"
        [(ngModel)]="aluno.autoria"
      >
    </div>
    <div class="acoes">
      <button (click)="editarAluno()" class="botao">Salvar</button>
      <button (click)="cancelar()" class="botao">Cancelar</button>
    </div>
  </form>
</section>
